* {
  font-family: poppins;
  background-color:rgb(237,210,99);
}

.searchBar {
  text-align: center;
  border: 20px;
  margin: 20px 0;
}

i.fa-solid.fa-magnifying-glass {
  margin-right: 10px;
}

.title {
  margin-left: 60px;
}

input{
  text-align: center;
  background-color: white;
  height: 40px;
  width: 500px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.btnSearch{
  background-color: rgb(137, 60, 209);
  padding: 5px;
  margin: 0;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 60px;
  color: white;
}


.App {
  text-align: left;
  margin-top: 30px;
  margin-left: 0;
}


a {
  text-decoration: none;  
}